@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body {
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin:0;
}

.header{
background-image: url("./images/bg-header-desktop.svg");
background-color: hsl(180, 8%, 52%);
height: 100px;
position: relative;

}
.filterBar{
  display:flex;
  justify-content:space-between;
  gap: 10px;;  
  margin-left: 160px;
  padding-left: 50px;
  padding-right: 50px;;    
  width: 72.5vw;
  height: 50px;
  background-color: white;
  position: absolute;
  top: 78px;
  border-radius: 8px;;
}
.filterBarLeft{
  display:flex;
  gap: 10px; 
}
.clearFilters{
  color: hsl(180, 29%, 50%);
}
 
.clearFilters:hover{
  text-decoration: underline; 
  cursor: pointer;
}

.filterTag {
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 52%, 96%);
  border-radius: 5px;
  font-size: 12px; 
  padding:5px;
  padding-top: 7px;
}
.removeFiltorButton{
  background-color: hsl(180, 29%, 50%);
  color:white;
  height: 20px;
  width: 20px;
  font-size: 10px;  
  padding:0;
  border:0;
  margin-top: 15px;
  margin-left:-10px;
  border-radius: 0 5px 5px 0;  
}

.removeFiltorButton:hover{
  background-color: hsl(180, 29%, 50%);
  background-color: hsl(180, 14%, 20%);
  cursor: pointer;
}

.mainBody{
  background-color: hsl(180, 52%, 96%);
  padding-top: 50px
}
.jobCard {
  background-color: white;
  margin-left: 10vw;
  margin-right: 10vw;
  align-items: center;
  height: 18vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
    /*remove it later*/
  border: 10px solid hsl(180, 52%, 96%);
  border-radius: 15px;
}

.leftSection {
  margin-left: 70px;

}

.rightSection {
  display: flex;
  gap: 10px;
  margin-right: 70px;

}

.companyDataWithLogo {
  display: flex;
  align-items: center;
  justify-content: center
}

.jobDetails{
display:flex;
flex-direction:column;
margin-left:20px;
padding-top: 10px;
}

.companyDetails {
  display: flex;
  width: 20vw;
  gap: 10px;
  align-items: center;
  padding-bottom: 10px;
}

.companyName {
  color: hsl(180, 29%, 50%);
  padding-right: 10px;

}

.newTag {
  background-color: hsl(180, 29%, 50%);
  padding: 6px;
  border-radius: 25px;
  color: white;
  font-size: 10px;
}

.featuredTag {
  background-color: hsl(180, 14%, 20%);
  padding: 6px;
  border-radius: 25px;
  color: white;
  font-size: 10px;
}

.jobRole {
  padding-bottom: 10px;
 
  font-weight: 700;
}

.jobRole:hover {
  color: hsl(180, 29%, 50%);
}

.jobDetails2 {
  color: hsla(0, 0%, 45%, 0.905);
  font-weight: 500;
  padding-bottom: 20px;
}

.jobTag {
  color: hsl(180, 29%, 50%);
  padding: 8px;
  background-color: hsl(180, 52%, 96%);
  border-radius: 5px;
  font-size: 12px;
}
.jobTag:hover {
  background-color: hsl(180, 29%, 50%);
  color: white;
  cursor: pointer;
} 
